<div class="navbar navbar-expand-lg p-2 border-top border-bottom border-1" style="background-color: #1F0230;">
  <div class="container-fluid">
    <div class="link-texts" style="width: 100px"></div>
    <div class="Logo">
      <%= link_to lists_path("all") do %>
        <i class="fa-solid fa-film text-light">FilmSet</i>
      <% end %></div>
    <div class="sign-up">
      <%= link_to "Log in", "#", class: "mx-3 text-decoration-none text-light"%>
      <%= link_to "Sign Up", "#" , class: "btn btn-core rounded-5" %>
    </div>
  </div>
</div>
