<%= render "core/navbar_generic" %>
<div class="banner page-banner d-flex align-items-center" style="height: 30vh;">
  <div class="container">
    <div class="row">
      <div class="col-6 p-3 d-flex align-items-center">
        <div>
          <h1 class="banner-h1-sm"><%= @list.name %></h1>
          <h2>Add a new Movie</h2>
        </div>
      </div>
      <div class="col-6 p-3">
      </div>
    </div>
  </div>
</div>
<div class="mid-container">
  <div class="container">
    <%= render "form" %>
    <%= link_to "Back", list_path(@list), class: "btn btn-primary my-3" %>
  </div>
</div>
<div class="footer-banner" style="height: 20vh"></div>
