// Specific CSS for your home-page

body{
  color: #a0a0a0;
  // background: linear-gradient(180deg, #2A064E, #2A064E, #120221);
  // background: linear-gradient(180deg, $bg-md, $bg-bt);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-color: #120221;
}

.mid-container{
  background: linear-gradient(180deg, $bg-md, $bg-bt);
}

.hover-link:hover{
  color: $danger !important;
}

.arrow{
  transform: rotate(-90deg);
  transition: 0.3s;
}
.arrow-down{
  transform: rotate(0);
  transition: 0.3s;
}
.arrow-right{ // make sure this is below the arrow-down selector
  transform: rotate(-90deg);
  transition: 0.3s;
}

.image-invisible{
  height: 0px;
  // transition: 1s;
}
.image-visible{ // make sure this is below the invisible selector
  height: 300px;
  // transition: 1s;
}

.image-transition{
  transition: height 0.5s;
}

.size-shrink{
  animation-name: my-animation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.size-grow{
  animation-name: my-animation;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes my-animation {
  from {
    // background-color: #ff7a59;
    height: 300px;
    // top: 10px;
  }
  to {
    // background-color: #33475b;
    height: 0px;
    // top: 100px;
  }
}

@media (max-width: 990px){
  .main-img{
    display: none;
  }
}
