// Specific CSS for your home-page

body{
  color: #a0a0a0;
  // background: linear-gradient(180deg, #2A064E, #2A064E, #120221);
  // background: linear-gradient(180deg, $bg-md, $bg-bt);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-color: #120221;
}

.mid-container{
  background: linear-gradient(180deg, $bg-md, $bg-bt);
}

.hover-link:hover{
  color: $danger !important;
}

@media (max-width: 990px){
  .main-img{
    display: none;
  }
}
